 <aside data-ng-include src="'template/header.html'"></aside>
 	  <div class="container">
		<div class="page-header">
			<center><h1>ESTADO DE CLIENTES</h1> </center>     
		</div>
	  	 
					<div class="table table-responsive">

								<input class="form-control" type="search" ng-model="buscador" placeholder="Buscar nombre de user">							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listamascota">
									<thead>
										<tr>
											<th><font color="black">  Foto   </th>	
											<th><font color="black">  Correo   </th>
											<th><font color="black">  Nombre </th>											
											<th><font color="black"> Tipo </th>											
											<th><font color="black">  BORRAR   </th>
											
										</tr> 
									</thead>

									<tr ng-repeat="cliente in ListadoClientes | filter:buscador as resultado">

										<td><img  class='fotoGrilla' ng-src="fotos/{{cliente.foto}}" /></td>
							            <td><font color="black">{{cliente.correo}}</td>
										<td><font color="black">{{cliente.nombre}}</td>
										<td><font color="black">{{cliente.tipo}}</td>
										
										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(cliente)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>	
									</tr>
								</table>
								<div ng-if="resultado.length==0">
									No hay pizzas con ese critero.
								</div>
							</div>
							
						</div>
		</div>