 <aside data-ng-include src="'template/header.html'"></aside>
 <div class="container">
		<div class="page-header">
			<center><h1>LISTA DE PRODUCTOS</h1> </center>     
		</div>
	  	 
		           
					<div class="table table-responsive">
								<input  class="form-control" class="form-control" type="search" ng-model="buscador" placeholder="Buscar Producto">							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listamascota">
									<thead>
										<tr>
											<th><font color="black">  Foto   </th>															
											<th><font color="black">  tipo   </th>
											<th><font color="black">  Ingredientes </th>
											<th><font color="black">  Prècio     </th>
											<th><font color="black">  BORRAR     </th>
											<th><font color="black">  MODIFICAR  </th>
										</tr> 
									</thead>
									<tr ng-repeat="mascota in ListadoProductos | filter:buscador as resultado">

										<td><img  class='fotoGrilla' ng-src="fotos/{{mascota.foto}}" /></td>
							            <th><font color="black">{{mascota.tipo}}</th>
										<td><font color="black">{{mascota.ingredientes}}</td>
										<td><font color="black">{{mascota.precio}}</td>
										

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(mascota)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar' ui-sref="modificacion({id:mascota.id, 
										tipo:mascota.tipo,ingredientes:mascota.ingredientes,precio:mascota.precio, foto:mascota.foto})" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									<!--tr ng-if="resultado.length==0">

										<td></td>
							
										<td>No hay personas con ese criterio</td>
										<td></td>
										<td></td>

										<td></td>
										
										<td></td>
															
									</tr-->
								</table>
								<div ng-if="resultado.length==0">
									No hay pizzas con ese critero.
								</div>
							</div>
							
						</div>
		</div>
